Flask==1.1.2
Flask-WTF==0.14.3
Jinja2==2.11.2
MarkupSafe==1.1.1
WTForms==2.3.3
Werkzeug==1.0.1
atomicwrites==1.4.0
atters==20.2.0
bootstrap4==0.1.0
click==7.1.2
colorama==0.4.4
importlib-metadata==2.0.0
iniconfig==1.1.1
itsdangerous==1.1.0
packaging==20.4
pip==20.2.3
pluggy==0.13.1
py==1.9.0
pypaarsing==2.4.7
pytest==6.1.1
setuptools==50.3.0
six==1.15.0
toml==0.10.1
zipp==3.3.1