<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div class="card">
      <div class="card-header">
        CS235
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Movie Search Website</p>
        </blockquote>
          <nav>
        <form class="form-inline" action="#" method="post">
            <input class="form-control mr-sm-2" type="search" name="mv" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="do" name="Movie Name Search">Movie Name Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="do1" name="Director Name Search">Director Name Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="do2" name="Actor Name Search">Actor Name Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="do3" name="Genre Category Search">Genre Category Search</button>
        </form>
    </nav>
      </div>
    </div>
    {% block content %}
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>